<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fisco.bcos.safekeeper.data.DataMapper">
  <resultMap id="dataMap" type="org.fisco.bcos.safekeeper.data.entity.TbDataInfo">
    <id column="account" javaType="java.lang.String" jdbcType="VARCHAR" property="account"/>
    <id column="data_id" javaType="java.lang.String" jdbcType="VARCHAR" property="dataId"/>
    <id column="data_sub_id" javaType="java.lang.String" jdbcType="VARCHAR" property="dataSubId"/>
    <result column="data_status" javaType="java.lang.Integer" jdbcType="INTEGER" property="dataStatus"/>
    <result column="plain_text" javaType="java.lang.String" jdbcType="VARCHAR" property="plainText"/>
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" property="modifyTime"/>
  </resultMap>

  <sql id="ROW_COLUMN">
    account,data_id,data_sub_id,plain_text,create_time,modify_time
  </sql>

  <insert id="addDataRow" parameterType="org.fisco.bcos.safekeeper.data.entity.TbDataInfo">
    insert into tb_data_info
    (<include refid="ROW_COLUMN"/>)
    values(#{account},#{dataId},#{dataSubId},#{plainText},NOW(),NOW())
  </insert>

  <update id="updateDataRow" parameterType="org.fisco.bcos.safekeeper.data.entity.TbDataInfo">
    update tb_data_info set modify_time=NOW(),
    <if test="dataStatus != null and dataStatus != 0">
      data_status=#{dataStatus},
    </if>
    plain_text=#{plainText}
    where account=#{account}
    and data_id = #{dataId}
    and data_sub_id = #{dataSubId}
  </update>

  <select id="queryData" parameterType="org.fisco.bcos.safekeeper.data.entity.DataQueryParam" resultMap="dataMap">
    select * from tb_data_info
    where 1=1
    <if test="param.account != null and param.account != ''">
      and account = #{param.account}
    </if>
    <if test="param.dataId != null and param.dataId != ''">
      and data_id = #{param.dataId}
    </if>
    <if test="param.dataSubId != null and param.dataSubId != ''">
      and data_sub_id = #{param.dataSubId}
    </if>
  </select>

  <delete id="deleteDataRow" parameterType="org.fisco.bcos.safekeeper.data.entity.DataQueryParam">
    delete from tb_data_info
    where account = #{param.account}
    and data_id = #{param.dataId}
    and data_sub_id = #{param.dataSubId}
  </delete>

  <select id="existOfData" parameterType="org.fisco.bcos.safekeeper.data.entity.DataQueryParam" resultType="java.lang.Integer">
    select count(1) from tb_data_info
    where account = #{param.account}
    and data_id = #{param.dataId}
    and data_sub_id = #{param.dataSubId}
  </select>

  <select id="countOfData" resultType="java.lang.Integer">
    select count(1) from tb_data_info where 1=1
    <if test="account != null and account != ''">
      and account = #{account}
    </if>
    <if test="dataId != null and dataId != ''">
      and data_id = #{dataId}
    </if>
    <if test="dataSubId != null and dataSubId != ''">
      and data_sub_id = #{dataSubId}
    </if>
    <if test="dataStatus != 0">
      and data_status = #{dataStatus}
    </if>
  </select>

  <select id="listOfData" parameterType="org.fisco.bcos.safekeeper.data.entity.DataListParam" resultMap="dataMap">
    select * from tb_data_info
    where 1=1
    <if test="param.account != null and param.account != ''">
      and account = #{param.account}
    </if>
    <if test="param.dataId != null and param.dataId != ''">
      and data_id = #{param.dataId}
    </if>
    <if test="param.dataSubId != null and param.dataSubId != ''">
      and data_sub_id = #{param.dataSubId}
    </if>
    <if test="param.dataStatus != 0">
      and data_status = #{param.dataStatus}
    </if>
    <if test="param.flagSortedByTime != null and param.flagSortedByTime != ''">
      order by create_time ${param.flagSortedByTime}
    </if>
    <if test="param.start != null and param.pageSize != null">
      limit #{param.start},#{param.pageSize}
    </if>
  </select>

  <select id="listOfDataId" resultType="java.lang.String">
    select data_id from tb_data_info where 1=1
    <if test="account != null and account != ''">
      and account = #{account}
    </if>
    <if test="dataStatus != 0">
      and data_status = #{dataStatus}
    </if>
    group by data_id
  </select>

  <select id="listOfDataIdByCoinStatus" resultType="java.lang.String">
    select data_id from tb_data_info where 1=1
    <if test="account != null and account != ''">
      and account = #{account}
    </if>
    and plain_text = #{plainText}
    group by data_id
  </select>

  <resultMap id="tokenMap" type="org.fisco.bcos.safekeeper.data.entity.TokenInfo">
    <id column="data_id" javaType="java.lang.String" jdbcType="VARCHAR" property="key"/>
    <result column="plain_text" javaType="java.lang.String" jdbcType="VARCHAR" property="text"/>
  </resultMap>

  <select id="listOfTokenWithTokenStatus" resultType="java.lang.String" resultMap="tokenMap">
    select data_id,plain_text from tb_data_info
    where data_id in
    (select data_id from tb_data_info
    where account = #{account}
    and data_sub_id = "status"
    and plain_text = #{status})
    and data_sub_id = "value" ;
  </select>

  <select id="listOfValueWithTokenStatus" resultType="java.lang.String">
    select plain_text from tb_data_info
    where account = #{account} and data_sub_id="value" and data_id in
    (select data_id from tb_data_info
    where account = #{account}
    and data_sub_id="status"
    and plain_text = #{status}
    group by data_id);
  </select>

  <update id="updateDataStatus" parameterType="java.lang.String">
    update tb_data_info set plain_text=#{desDataStatus}, modify_time=NOW()
    where account=#{account} and data_id = #{dataId} and data_sub_id = #{dataSubId} and plain_text = #{srcDataStatus}
  </update>

</mapper>
