<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fisco.bcos.safekeeper.token.TokenMapper">
    <resultMap id="tokenMap" type="org.fisco.bcos.safekeeper.token.TbToken">
        <id column="token" javaType="java.lang.String" jdbcType="VARCHAR" property="token"/>
        <id column="account" javaType="java.lang.String" jdbcType="VARCHAR" property="account"/>
        <result column="expire_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" property="expireTime"/>
        <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <insert id="add" parameterType="org.fisco.bcos.safekeeper.token.TbToken">
         insert into tb_token (token,account,expire_time,create_time)values(#{token},#{account},#{expireTime},UTC_TIMESTAMP())
   </insert>

    <delete id="delete" parameterType="java.lang.String">
		 delete from tb_token where expire_time &lt;= UTC_TIMESTAMP()
        <if test="account != null">
            or account = #{account}
        </if>
        <if test="token != null">
            or token = #{token}
        </if>
	</delete>

    <update id="update">
        update tb_token set expire_time = #{expireTime} where token = #{token}
    </update>

    <select id="queryToken" resultMap="tokenMap">
        select * from tb_token where token = #{token}
    </select>

    <select id="queryAccount" resultMap="tokenMap">
        select * from tb_token where account = #{account}
    </select>

</mapper>
